.hero-img{
    height: 40rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    gap: 3rem;
}

.card-inner{
    
  
}

.card-container img{
    height: 150px;
    width: 7rem;
    margin: auto;
}